<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Contact Us </title>
    <link rel="stylesheet" href="css/contactus.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
   <header class="header">
        <img src="image/logo web.png" class="logo "alt="">
        <nav class="navbar">
         <a href="index.html">Home</a>
         <a href="index.html">Qui nous sommes </a>
         <a href="index.html">categories</a>
         <a href="index.html">blogs</a>
         <a href="#">contactez-nous</a>
        </nav>
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search"id="search-btn"></div>
            <div class="fas fa-user" id="login-btn"></div>
        </div>
        <form action="post"class="search-form">
        <input type="search"id="search-box"placeholder="search here...">
        <label for="search-box"class="fas fa-search"></label>
    </form>
<form action="post" class="login-form">
    <h3>login now</h3>
    <input type="email"placeholder="your email" class="box">
    <input type="password"placeholder="your password" class="box">
    <p>forget your password <a href="#">click here</a></p>
    <p>don't have an account <a href="formulaire.html">creat now</a></p>
    <input type="submit"value="login now" class="btn">
</form>
</header>
<section>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Marrakech, 1412</div>
          <div class="text-two">Birendranagar 06</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+212 762 02 3485</div>
          <div class="text-two">+212 762 04 3548</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">share@gmail.com</div>
          <div class="text-two">info.share@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your phone">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          <textarea placeholder="Enter your message"></textarea>
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div></section>
  <div class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13587.2837598573!2d-8.01379485!3d31.638752700000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sma!4v1658829679599!5m2!1sfr!2sma" width="84%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <script src="script.js"></script>
  <div class="realiser">
    <h2>Realiser par:</h2>
    <img src="image/logo web.png" alt="">
  </div>
</body>
</html>
